<!DOCTYPE html>
<html>
	<head>
		<title>To Do List</title>
		<link rel="stylesheet" type="text/css" href="assets/css/style.css">
		<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<script type="text/javascript" src="assets/js/lib/jquery-3.4.1.min.js"></script>
	</head>
	<body>