<div class="container">
			<form action="/" method="post">
			<h1>Tuesday</h1>
			<input type="text" name="newToDo" placeholder="Add New To-Do">
			<input type="hidden" name="listName" value="Tuesday">
			</form>
			
			<ul><% listItems.forEach(function(listItem){ %>
			<form name="items" action="/delete" method="post">
			<li>
			<span><input type="checkbox" id="<%=listItem._id%>" class="checkbox" name="item" value="<%=listItem._id%>" onChange="this.form.submit()"><label for="<%=listItem._id%>" class="fa fa-trash" aria-hidden="true" ></label></span><%=listItem.name %></li>
			
			</form>
			<% }); %>
			</ul>
</div>